@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ========== Setup  ==========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ========== Colors  ==========*/

  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);

  /* ========== Fonts  ==========*/
  --f-normal: 1rem;
  --f-med: 1.8rem;
  --f-large: 2.5rem;
  --f-w-normal: 400;
  --f-w-med: 600;
  --f-w-large: 700;
}

/* ========== Base  ==========*/

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--f-w-ormal);
}

/* ========== Social  ==========*/

/* ========== Footer  ==========*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
