@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ========== Setup  ==========*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ========== Colors  ==========*/

  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);

  /* ========== Fonts  ==========*/
  --f-small: 0.8rem;
  --f-normal: 1rem;
  --f-med: 1.4rem;
  --f-large: 2rem;
  --f-w-normal: 400;
  --f-w-med: 600;
  --f-w-large: 700;
}

/* ========== Base  ==========*/

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--f-w-ormal);
  background-color: var(--Grey-900);
  color: var(--White);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

main {
  height: 100vh;
  display: flex;
  place-items: center;
}

/* ========== Social  ==========*/
#social {
  width: 22rem;
  background: var(--Grey-800);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

#social h2 {
  font-size: var(--f-med);
}

#social p {
  font-size: var(--f-small);
}
.social-desc > * {
  margin-bottom: 0.5rem;
}

.social-location {
  color: var(--Green);
  font-size: var(--f-small);
  font-weight: var(--f-w-large);
}

.social-img {
  border-radius: 50%;
  width: 30%;
  aspect-ratio: 1;
}

.social-links {
  width: 100%;
}

.social-links li {
  padding: 0.8rem 3rem;
  width: 100%;
  margin-bottom: 1rem;
  background: var(--Grey-700);
  font-size: var(--f-small);
  font-weight: var(--f-w-large);
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background: var(--Green);
    color: var(--Grey-900);
  }
}

.social-link,
.social-link:visited {
  background: inherit;
  color: inherit;
}

/* ========== Footer  ==========*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
