/* <=====================> Base <=====================>*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  --f-normal: 1.125rem;
  --f-large: calc(var(--f-normal) + 1rem);
  --fw-normal: 400;
  --fw-large: 500;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: var(--f-normal);
  font-weight: var(--fw-normal);
}

main {
  min-height: 100vh;
}

/* <=====================> Util classes <=====================>*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-align {
  display: flex;
  align-content: center;
}
/* <=====================>  Cards<=====================>*/
.cards {
  color: var(--Black);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    "create create social social"
    "write write social social"
    "manage manage schedule besttime"
    "maintain maintain growth growth"
    "followers followers growth growth";
}
.card:nth-child(1) {
  grid-area: create;
  background: var(--Yellow-100);
  & button {
    border: none;
    background: var(--Yellow-500);
    color: var(--Purple-500);
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 30px;
  }
  & em {
    color: var(--Purple-500);
  }
}

.card:nth-child(2) {
  grid-area: social;
  background-color: var(--Purple-500);
  color: var(--White);
}

.card:nth-child(3) {
  grid-area: write;
  background-color: var(--Purple-100);
}

.card:nth-child(4) {
  grid-area: manage;
  background-color: var(--Yellow-500);
}

.card:nth-child(5) {
  grid-area: schedule;
}

.card:nth-child(6) {
  grid-area: besttime;
}

.card:nth-child(7) {
  grid-area: maintain;
  background-color: var(--Yellow-500);
}

.card:nth-child(8) {
  grid-area: followers;
  background-color: var(--Purple-500);
  color: var(--White);
}

/* <=====================>  <=====================>*/

/* <=====================> Footer <=====================>*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
