@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
  --White: hsl(0, 0%, 100%);

  --f-normal: 0.8rem;
  --f-large: 1.4rem;
  --fw-normal: 500;
  --fw-large: 600;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--f-normal);
  font-weight: var(--fw-normal);
  background-color: var(--Grey-100);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reviews {
  display: grid;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 2rem;
  grid-template-areas:
    "rev1 rev1 rev2 rev5"
    "rev3 rev4 rev4 rev5";
}
.reviews > div {
  padding: 2rem;
  border-radius: 10px;
}
.rev-1 {
  grid-area: rev1;
  background: url("./images/bg-pattern-quotation.svg") no-repeat top right 20%;
  background-color: var(--Purple-500);
  color: var(--White);
}
.rev-2 {
  grid-area: rev2;
  background-color: var(--Grey-500);
  color: var(--White);
}
.rev-3 {
  grid-area: rev3;
  background-color: var(--White);
}
.rev-4 {
  grid-area: rev4;
  background-color: var(--Dark-blue);
  color: var(--White);
}
.rev-5 {
  grid-area: rev5;
  background-color: var(--White);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.author img {
  border-radius: 50px;
  width: 2rem;
  border: 1px solid;
  color: var(--Purple-300);
}

.p-grey {
  color: var(--Grey-200);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
