@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* ========== Setup  ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ========== Colors  ==========*/
  --Cyan: hsl(186, 34%, 60%);
  --Soft-red: hsl(10, 79%, 65%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);

  /* ========== Fonts  ==========*/
  --f-small: 0.8rem;
  --f-normal: 1rem;
  --f-med: calc(var(--f-normal) + 0.5rem);
  --f-large: calc(var(--f-normal) + 0.8rem);
  --f-w-normal: 400;
  --f-w-med: 600;
  --f-w-large: 700;
}

/* ========== Base  ==========*/

body {
  background: var(--Cream);
  font-family: "DM Sans", sans-serif;
  font-weight: var(--f-w-normal);
  font-size: var(--f-normal);
  color: var(--Stone-600);
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

main {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

hr {
  height: 1px;
  border: none;

  margin: 1rem;
  background: var(--Medium-brown);
  opacity: 0.4;
}

/* ========== Exp balance  ==========*/
#expense {
  max-width: 40rem;
  margin: auto;
  grid-template-rows: auto 1fr;
}

.exp-balance {
  background: var(--Soft-red);
  color: var(--Very-pale-orange);
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
}

.exp-head {
  margin-right: 10rem;
  & p {
    font-size: var(--f-small);
  }
}

/* ========== Expense chart  ==========*/
.exp-weekly {
  background: var(--Very-pale-orange);
  padding: 1rem;
  border-radius: 15px;
  color: var(--Dark-brown);
  & h2 {
    font-size: var(--f-med);
  }
}

/* ========== footer  ==========*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
