.ticket {
  /* margin: 10rem; */
  gap: 2rem;
}

.ticket-head {
  text-align: center;
}

.highlight {
  background: var(--Gradient-text);
  background-clip: text;
  color: transparent;
}

.ticket-main {
  background: no-repeat url("../../assets/images/pattern-ticket.svg");
  background-position: cover;
  margin: 1rem;
}
