.ticket {
  /* margin: 10rem; */
  gap: 2rem;
  text-align: center;
}
.orange-txt {
  color: var(--Orange-500);
}

.highlight {
  background: var(--Gradient-text);
  background-clip: text;
  color: transparent;
}

.ticket-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 100%:
}

.ticket-bg {
  position: absolute;
  /* top: 50%; */
  left: -50%;
}
