.ticket {
  gap: 2rem;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.ticket-main p {
  color: var(--Neutral-500);
  font-size: 1rem;
}

.orange-txt {
  color: var(--Orange-500);
}

.highlight {
  background: var(--Gradient-text);
  background-clip: text;
  color: transparent;
}

.ticket-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  width: 30rem;
}

.ticket-bg {
  position: absolute;
  width: 110%;
}

.ticket-info {
  align-items: flex-start;
  gap: 3rem;
}

.ticket-left {
  gap: 1rem;
  display: grid;
  grid-template-rows: auto auto auto;
  padding-left: 1rem;
  justify-items: start;
}

.ticket-event {
  padding-left: 3rem;
}

.usr-info {
  margin-top: 4rem;
  gap: 1rem;
}

.usr-info img {
  width: 15%;
  object-fit: cover;
  border-radius: 10px;
}

.usr-id {
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.usr-id img {
  width: 10%;
}

.ticket-code {
  transform: rotate(90deg);
  color: var(--Neutral-500);
  padding-bottom: 4rem;
}
